<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Logan Barnett</string>
	<key>Builder Version</key>
	<string>14606.3.4</string>
	<key>CFBundleDisplayName</key>
	<string>Injector</string>
	<key>CFBundleIdentifier</key>
	<string>com.logustus.injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleVersion</key>
	<string>1.7.1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>launch-injector</string>
				<key>Identifier</key>
				<string>LaunchInjector</string>
				<key>Title</key>
				<string>Inject Style/Script</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>injector/globals.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover/popover.html</string>
				<key>Height</key>
				<real>164</real>
				<key>Identifier</key>
				<string>InjectionSelector</string>
				<key>Width</key>
				<integer>250</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toolbar-item</string>
				<key>Identifier</key>
				<string>LaunchInjector</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>Injector</string>
				<key>Popover</key>
				<string>InjectionSelector</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>AKGW4VBM66</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string></string>
	<key>Website</key>
	<string></string>
</dict>
</plist>
