/* Defaults
 * ----------------------------------------------------------------------- */

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 14px/100%;
    -webkit-user-select: none;
}

header {
    display: none;
}

/* Layout
 * ----------------------------------------------------------------------- */

#container {
    position: absolute;
    overflow: hidden;
    margin: 8px;
    top: 0; right: 0; bottom: 0; left: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#container > aside,
#container > section {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: absolute;
    top: 0; bottom: 0;
    background-color: #fff;
}

#container > aside {
    width: 199px;
    border: 1px solid #bebebe;
    border-top-color: #8e8e8e;
}

#container > section {
    display: block;
    -webkit-box-flex: 1;
    left: 201px; right: 0;
    margin: 0 0 0 8px; padding: 0;
    border: 1px solid #bebebe;
    border-top-color: #8e8e8e;
    overflow: auto;
}

/* Sidebar
 * ----------------------------------------------------------------------- */

#list-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#list {
    -webkit-box-flex: 1;
    margin: 0; padding: 0;
    list-style: none;
    -webkit-background-size: auto 70px;
    background-image: linear-gradient(0deg, #f7f7f7, #f7f7f7 50%, #fff 50%);
}

#list > a {
    display: block;
    position: relative;
    margin: 0;
}

.selector {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.selector.disabled {
    color: #888;
}

.selector.current {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #333;
    background-image: linear-gradient(0deg, #1654ab, #5b92d5);
}

.delete {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 50%; right: 8px; bottom: auto; left: auto;
    margin: 0; margin-top: -7px;
    width: 14px;
    height: 14px;
    background-image: url(resource/ExtensionClose.png);
    background-repeat: no-repeat;
}

#list > a:hover > .delete {
    visibility: visible;
}

.delete:hover {
    background-image: url(resource/ExtensionCloseHovered.png);
}

#new {
    display: block;
    background-color: #fff;
    border-top: 1px solid #bebebe;
    outline: none;
}

/* Content area
 * ----------------------------------------------------------------------- */

h2 {
    margin: 0 0 10px;
    padding: 9px 15px;
    border-bottom: 1px solid #d6d6d6;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    color: #404040;
}

#form {
    -webkit-box-flex: 2;
}

fieldset {
    margin: 15px; padding: 0;
    border: 0;
}

p {
    /* https://bugs.webkit.org/show_bug.cgi?id=16662 
     * I wish Safari 5 supported this yesterday. */
    margin-left: 20%;
}

label {
    float: left;
    margin: 3px 0 0 -20%;
    padding: 0;
    width: 19%; /* So we have a little nice spacing */
    text-align: right;
    font-size: 13px;
    color: #666;
}

.label {
    display: block;
    padding: 3px 5px;
    /* This feels a bit out of place. But works for the time being. */
    background-image: linear-gradient(0deg, #ddd, #eee);
    border: 1px solid #999;
    border-bottom-width: 0;
    width: 75%;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    color: #777;
    cursor: pointer;
}

.label.hidden {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 4px;
}

.label > .text:before {
    content: url(../share/triangle-down.png);
    margin-right: 4px;
    float: left;
}

.label.hidden > .text:before {
    content: url(../share/triangle-right.png);
    margin-right: 4px;
    float: left;
}

.label.hidden + textarea {
    display: none;
}

.description {
    display: block;
    font-size: 11px;
    line-height: 11px;
    padding: 2px 0 0 0;
    color: #aaa;
}

input[type="text"], textarea {
    font-size: 13px;
    max-width: 90%;
}

textarea {
    padding: 5px;
}

input[name="name"] {
    width: 35%;
}

textarea[name="domains"],
textarea[name="excludes"] {
    width: 75%;
    min-width: 75%;
    max-width: 75%;
    height: 50px;
}

textarea[name="styles"], textarea[name="script"] {
    font-family: monospace;
    width: 75%;
    height: 200px;
}
