/* Defaults
 * ----------------------------------------------------------------------- */

html {
	height: 100%;
}

body {
	display: -webkit-flex;
	margin: 0;
	padding: 8px;
	height: 100%;
	background-color: #ededed;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1em;
	letter-spacing: .015625em;
	-webkit-user-select: none;
}

* {
	-webkit-box-sizing: border-box;
}

/* Layout
 * ----------------------------------------------------------------------- */

aside, section {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	background-color: #fff;
}

aside {
	-webkit-flex: none;
	width: 200px;
	border: 1px solid #c5c5c5;
}

section {
	-webkit-flex: 1;
	margin: 0 0 0 8px;  padding: 0;
	border: 1px solid #c5c5c5;
}

/* Sidebar
 * ----------------------------------------------------------------------- */

#list {
	margin: 0; padding: 0;
	list-style: none;
	background-size: 100% 72px;
	background-image: linear-gradient(180deg, #fff, #fff 50%, #f5f5f5 50%);
	-webkit-flex: 1;
	overflow-y: auto;
}

#list > a {
	display: block;
	background-color: #fff;
	margin: 0;
	padding: 0 11px;
	height: 36px;
	line-height: 36px;
	text-decoration: none;
	color: #000;
}

#list > a:nth-child(2n) {
	background-color: #f5f5f5;
}

#list > a.disabled {
	color: #888;
}

#list > a.current {
	color: #fff;
	background-color: #006bd2;
}

#list-control {
	-webkit-flex: none;
	height: 20px;
	background-image: linear-gradient(0deg, #f5f5f5, #fafafa);
	border-top: 1px solid #c5c5c5;
}

#list-control > a {
	display: inline-block;
	width: 24px;
	height: 19px;
	padding: 4px 6px;
	border-right: 1px solid #c5c5c5;
	outline: none;
}

#list-control > a:active {
	background-color: rgba(0,0,0,.125);
}

#list-control svg {
	width: 11px;
	height: 11px;
}

#list-control path {
	stroke: #000;
	stroke-width: 1;
	fill: none;
}

/* Content area
 * ----------------------------------------------------------------------- */

h2 {
	-webkit-flex: none;
	margin: 0;
	padding: 11px 15px;
	border-bottom: 1px solid #c5c5c5;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	font-weight: normal;
	color: #404040;
}

#form {
	-webkit-flex: 1;
	padding-top: 10px;
	overflow-y: auto;
}

fieldset {
	margin: 15px; padding: 0;
	border: 0;
}

p {
	/* https://bugs.webkit.org/show_bug.cgi?id=16662 
	 * I wish Safari 5 supported this yesterday. */
	margin-left: 20%;
}

label {
	float: left;
	margin: 3px 0 0 -20%;
	padding: 0;
	width: 19%; /* So we have a little nice spacing */
	text-align: right;
	color: #666;
}

.label {
	display: block;
	padding: 0 5px;
	height: 21px;
	background-color: #e5e5e5;
	border: 1px solid #a5a5a5;
	width: 75%;
	font-size: 13px;
	line-height: 19px;
	color: #555;
	cursor: pointer;
}

.label > svg {
	width: 7px;
	height: 8px;
}

.label path {
	fill: #555;
	-webkit-transform: rotate3d(0,0,1,90deg);
	-webkit-transform-origin: 3px 4px 0px;
}

.label.hidden path {
	-webkit-transform: rotate3d(1,0,0,0deg);
}

.label.hidden {
	margin-bottom: 4px;
}

.label > .text:before {
	content: url(../share/triangle-down.png);
	margin-right: 4px;
	float: left;
}

.label.hidden > .text:before {
	content: url(../share/triangle-right.png);
	margin-right: 4px;
	float: left;
}

.label.hidden + textarea {
	display: none;
}

.description {
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-top: 2px;
	color: #aaa;
}

input[type="text"], textarea {
	font-size: inherit;
}

textarea {
	width: 75%;
	resize: vertical;
	padding: 5px;
	border-color: #a5a5a5;
	font-family: monospace;
	border-top-width: 0;
}

input[name="name"] {
	width: 35%;
}

textarea[name="includes"], textarea[name="excludes"] {
	height: 50px;
}

textarea[name="styles"], textarea[name="script"] {
	height: 200px;
}
